:host::ng-deep.mat-checkbox-layout{
    white-space: normal !important;
}
    
:host::ng-deep.mat-checkbox-inner-container{
    margin-top: 4px;
}


:host::ng-deep.mat-slide-toggle{
    height: inherit !important;
}

:host::ng-deep.mat-slide-toggle-content {
    white-space: normal !important;
}

:host::ng-deep.mat-slide-toggle{
    white-space: normal !important;
}

:host::ng-deep.mat-slide-toggle-bar{
    white-space: normal !important;
}