// Creates a container object for a light theme to be given to individual component theme mixins.
// TODO: Remove legacy API and rename `$primary` to `$config`. Currently it cannot be renamed
// as it would break existing apps that set the parameter by name.
@function mat-light-theme($primary, $success, $info, $warning, $danger, $dark, $accent, $warn: null) {
  // This function creates a container object for the individual component theme mixins. Consumers
  // can construct such an object by calling this function, or by building the object manually.
  // There are two possible ways to invoke this function in order to create such an object:
  //
  //    (1) Passing in a map that holds optional configurations for individual parts of the
  //        theming system. For `color` configurations, the function only expects the palettes
  //        for `primary` and `accent` (and optionally `warn`). The function will expand the
  //        shorthand into an actual configuration that can be consumed in `-color` mixins.
  //    (2) Legacy pattern: Passing in the palettes as parameters. This is not as flexible
  //        as passing in a configuration map because only the `color` system can be configured.
  //
  // If the legacy pattern is used, we generate a container object only with a light-themed
  // configuration for the `color` theming part.
  @if $accent != null {
    @return mat-private-create-backwards-compatibility-theme(_mat-validate-theme((
      _is-legacy-theme: true,
      color: _mat-create-light-color-config($primary, $success, $info, $warning, $danger, $dark, $accent, $warn),
    )));
  }
  // If the map pattern is used (1), we just pass-through the configurations for individual
  // parts of the theming system, but update the `color` configuration if set. As explained
  // above, the color shorthand will be expanded to an actual light-themed color configuration.
  $result: $primary;
  @if map-get($primary, color) {
    $color-settings: map-get($primary, color);
    $primary: map-get($color-settings, primary);
    $accent: map-get($color-settings, accent);
    $warn: map-get($color-settings, warn);
    $result: map-merge($result, (color: _mat-create-light-color-config($primary, $success, $info, $warning, $danger, $dark, $accent, $warn)));
  }
  @return mat-private-create-backwards-compatibility-theme(_mat-validate-theme($result));
}

// Creates a light-themed color configuration from the specified
// primary, accent and warn palettes.
@function _mat-create-light-color-config($primary, $success, $info, $warning, $danger, $dark, $accent, $warn: null) {
  @return (
    primary: $primary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    dark: $dark,
    accent: $accent,
    warn: if($warn != null, $warn, mat-palette($mat-red)),
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background
  );
}

/**
**   Dark-Theme
*/
// Creates a container object for a dark theme to be given to individual component theme mixins.
/* @function mat-dark-theme($primary, $success, $info, $warning, $danger, $dark, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    dark: $dark,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: $mat-dark-theme-background
  );
}
 */


/**
**   Override-mixin
*/
// Applies a focus style to an md-button element for each of the supported palettes.
@mixin _mat-button-ripple-color($theme, $hue, $opacity: 0.2) {
  $primary: map-get($theme, primary);
  $success: map-get($theme, success);
  $info: map-get($theme, info);
  $warning: map-get($theme, warning);
  $danger: map-get($theme, danger);
  $dark: map-get($theme, dark);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  &.mat-primary .mat-ripple-element {
    background-color: mat-color($primary, $hue, $opacity);
  }
  &.mat-success .mat-ripple-element {
    background-color: mat-color($success, $hue, $opacity);
  }
  &.mat-info .mat-ripple-element {
    background-color: mat-color($info, $hue, $opacity);
  }
  &.mat-warning .mat-ripple-element {
    background-color: mat-color($warning, $hue, $opacity);
  }
  &.mat-danger .mat-ripple-element {
    background-color: mat-color($danger, $hue, $opacity);
  }
  &.mat-dark .mat-ripple-element {
    background-color: mat-color($dark, $hue, $opacity);
  }
  &.mat-accent .mat-ripple-element {
    background-color: mat-color($accent, $hue, $opacity);
  }
  &.mat-warn .mat-ripple-element {
    background-color: mat-color($warn, $hue, $opacity);
  }
}

@mixin _mat-button-theme-property($theme, $property, $hue) {
  $primary: map-get($theme, primary);
  $success: map-get($theme, success);
  $info: map-get($theme, info);
  $warning: map-get($theme, warning);
  $danger: map-get($theme, danger);
  $dark: map-get($theme, dark);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  &.mat-primary {
    #{$property}: mat-color($primary, $hue);
  }
  &.mat-success {
    #{$property}: mat-color($success, $hue);
  }
  &.mat-info {
    #{$property}: mat-color($info, $hue);
  }
  &.mat-warning {
    #{$property}: mat-color($warning, $hue);
  }
  &.mat-danger {
    #{$property}: mat-color($danger, $hue);
  }
  &.mat-dark {
    #{$property}: mat-color($dark, $hue);
  }
  &.mat-accent {
    #{$property}: mat-color($accent, $hue);
  }
  &.mat-warn {
    #{$property}: mat-color($warn, $hue);
  }

  &.mat-primary,
  &.mat-success,
  &.mat-info,
  &.mat-warning,
  &.mat-danger,
  &.mat-dark,
  &.mat-accent,
  &.mat-warn,
  &[disabled] {
    &[disabled] {
      $palette: if($property == "color", $foreground, $background);
      #{$property}: mat-color($palette, disabled-button);
    }
  }
}

// Applies a property to an md-button element for each of the supported palettes.
@mixin mat-button-theme($theme) {
  $primary: map-get($theme, primary);
  $success: map-get($theme, success);
  $info: map-get($theme, info);
  $warning: map-get($theme, warning);
  $danger: map-get($theme, danger);
  $dark: map-get($theme, dark);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    // Buttons without a background color should inherit the font color. This is necessary to
    // ensure that the button is readable on custom background colors. It's wrong to always assume
    // that those buttons are always placed inside of containers with the default background
    // color of the theme (e.g. themed toolbars).
    color: inherit;
    background: transparent;

    @include _mat-button-theme-property($theme, "color", text);
    @include _mat-button-focus-overlay-color($theme);

    // Setup the ripple color to be based on the text color. This ensures that the ripples
    // are matching with the current theme palette and are in contrast to the background color
    // (e.g in themed toolbars).
    .mat-ripple-element {
      opacity: $_mat-button-ripple-opacity;
      background-color: currentColor;
    }
  }

  .mat-button-focus-overlay {
    background: map_get($foreground, base);
  }

  // Note: this needs a bit extra specificity, because we're not guaranteed the inclusion
  // order of the theme styles and the button reset may end up resetting this as well.
  .mat-stroked-button:not([disabled]) {
    border-color: mat-color($foreground, divider);
  }

  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    // Default font and background color when not using any color palette.
    color: mat-color($foreground, text);
    background-color: mat-color($background, raised-button);

    @include _mat-button-theme-property($theme, "color", default-contrast);
    @include _mat-button-theme-property($theme, "background-color", default);
    @include _mat-button-ripple-color($theme, default-contrast);
  }

  /* .mat-stroked-button,
  .mat-flat-button {
    @include _mat-theme-overridable-elevation(0, $theme);
  }

  .mat-raised-button {
    @include _mat-theme-overridable-elevation(2, $theme);

    &:not([disabled]):active {
      @include _mat-theme-overridable-elevation(8, $theme);
    }

    &[disabled] {
      @include _mat-theme-overridable-elevation(0, $theme);
    }
  }

  .mat-fab,
  .mat-mini-fab {
    @include _mat-theme-overridable-elevation(6, $theme);

    &:not([disabled]):active {
      @include _mat-theme-overridable-elevation(12, $theme);
    }

    &[disabled] {
      @include _mat-theme-overridable-elevation(0, $theme);
    }
  } */
}
